#accordian{
    margin: 12px auto;
    width: 80vw;
    float: left;
}

#accordian li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #D4AF37;
    padding: 10px;
    border-radius: 4px;
}

#accordian li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#accordian li label span{
    font-size: 32px;
    color:maroon;
    transition: rotate 0.5s;
}

#accordian label + input[type="radio"]{
    display: none;
}

#accordian .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

#accordian label + input[type="radio"]:checked + .content{
    max-height: 300%;
}

/*Try to get this working*/

#accordian li label span + input[type="radio"]:checked + .content{
    transform: rotate(90);
    font-size: 32px;
    color:maroon;
}
