*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    background-color: black;
}


#canvas-home {
    background-color: yellow;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: none;
}